{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block account %}
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{ user.name }}
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li><a class="dropdown-item" href="#">Rank : {{ rank }}</a></li>
      <li><a class="dropdown-item" href="/submissions/{{ user.username }}">My Submissions</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="/">Logout</a></li>
    </ul>
  </li>
{% endblock account %}

{% block problems %}
<li class="nav-item">
  <a class="nav-link" href="/problems/{{ user.username }}">Problems</a>
</li>
{% endblock problems %}

{% block navbar %}
  <form class="d-flex" method="post" action="/problem_search/{{ user.username }}">
    {% csrf_token %}
    <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
{% endblock navbar %}


{% block body %}

<table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">S.No.</th>
        <th scope="col">Username</th>
        <th scope="col">Verdict</th>
        <th scope="col">Problem</th>
        <th scope="col">Time</th>
      </tr>
    </thead>
    <tbody>

        {% for item in submissions %}
        
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ item.user.name }}</td>
            <td>{{ item.verdict }}</td>
            <td>{{ item.problem.name }}</td>
            {% comment %} <td><a class="nav-link py-1" href="#" style="color:white"></td> {% endcomment %}
            <td>{{ item.time }}</td>
          </tr>
        
        {% endfor %}
     
    </tbody>
  </table>

{% endblock body %}

